.tasks-cards-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.task-card{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.create-task-button-container{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.no-task-text{
    text-align: center;
    opacity: 50%;
}