<header tuiHeader="h3">
    <hgroup tuiTitle>
        <h3>All Tasks</h3>
        <p tuiSubtitle>See all your tasks here.</p>
    </hgroup>
</header>

<!-- <app-search-input 
    placeholder="Type the task name"
    label="Search task here"
    (valueChanged)="onSearchInputValueChanged($event)"
/> -->

<!-- <app-select-filter 
    label="Sort By"
    [options]="sortByFilters"
    (filterValueChanged)="onSortByFiltersValueChanged($event)"
/> -->

<app-spinner 
    *ngIf="isFetching()"
/>
<ng-container *ngIf="!isFetching()">
    <div class="create-task-button-container">
        <button
            tuiButton
            appearance="primary"
            iconStart="@tui.plus"
            type="button"
            (click)="addTask()"
            size="m"
        >
            Create Task
        </button>
    </div>
    <div class="tasks-cards-container" *ngFor="let task of tasks; trackBy: trackByTaskId">
        <app-task-cards class="task-card" [task]="task"/>
    </div>
    <p class="no-task-text" tuiSubtitle *ngIf="!tasks || !tasks.length">No Task yet</p>
</ng-container>

