<!-- Ignore this part, it is only here to position drawer inside the example block -->
<div class="custom-portal" class="main-navbar-header"><ng-container #viewContainer /></div>

<!-- Navbar Header -->
<header  tuiNavigationHeader class="layer-fix">
    <span tuiNavigationLogo>
        <span tuiFade>Todo App</span>
    </span>
    <!-- <span tuiNavigationSegments>
        <button
            appearance="secondary-grayscale"
            tuiButton
            type="button"
        >
            Link 1
        </button>
        <button
            appearance="secondary-grayscale"
            tuiButton
            type="button"
        >
            Link 2
        </button>
        <button
            appearance="secondary-grayscale"
            tuiButton
            tuiChevron
            tuiDropdownOpen
            type="button"
            [tuiDropdown]="products"
        >
            <span
                [style.overflow]="'hidden'"
                [style.text-overflow]="'ellipsis'"
            >
                Todos
            </span>
            <ng-template #products>
                <tui-data-list size="s">
                    <button
                        tuiOption
                        type="button"
                    >
                        Todos
                        <tui-icon
                            icon="@tui.check"
                            [style.font-size.em]="1"
                            [style.margin-left.rem]="0.5"
                        />
                    </button>
                    <button
                        tuiOption
                        type="button"
                    >
                        Something else
                    </button>
                </tui-data-list>
            </ng-template>
        </button>
    </span> -->
    <hr />
    <!-- <button
        appearance="secondary-grayscale"
        iconStart="@tui.plus"
        tuiButton
        type="button"
    >
        Create
    </button>
    <button
        iconStart="@tui.bell"
        tuiIconButton
        type="button"
    >
        Notifications
        <tui-badge-notification />
    </button>
    <button
        iconStart="@tui.ellipsis"
        tuiIconButton
        type="button"
    >
        More
    </button>
    <tui-avatar src="AI" /> -->
</header>
<div [style.display]="'flex'">
    <app-expandible-sidebar />
    <main tuiNavigationMain>
        <ng-container>
            <div class="child-container">
                <router-outlet />
            </div>
        </ng-container>
    </main>
</div>
