<app-spinner 
    *ngIf="isFetching()"
/>

<ng-container *ngIf="task() && !isFetching()">
    <div
        tuiAppearance="floating"
        tuiCardLarge
    >
        <header tuiHeader="body-m">
            <hgroup tuiTitle>
                <h1> {{ task().title }} </h1>
                <p tuiSubtitle>
                    {{ task().subtitle }}
                </p>
            </hgroup>
            <div>
                <button
                    size="xs"
                    tuiButton
                    type="button"
                    appearance="primary"
                    style="margin-right: 1rem;"
                    (click)="goToEditTask()"
                >
                    <tui-icon icon="@tui.pencil"/>
                </button>
                <button
                    size="xs"
                    tuiButton
                    type="button"
                    appearance="primary-destructive"
                    (click)="deleteTask()"
                >
                    <tui-icon icon="@tui.trash-2"/>
                </button>
            </div>
        </header>

        <div class="progress-container">
            <div class="progress-container__text-container">
                    <p class="progress-container__label" tuiSubtitle>Progress</p>
                    <p class="progress-container__percentage" tuiSubtitle>{{ task().progress }}%</p>
            </div>
            <progress
                max="100"
                tuiProgressBar
                [value]="task().progress"
            ></progress>
        </div>

        <div tuiCardRow class="task-info">
            <div tuiTitle>
                <div tuiSubtitle>
                    <tui-icon icon="@tui.file-chart-pie" />
                    Status
                </div>
                <div>
                    {{ task().status }}
                </div>
            </div>
            <div tuiTitle>
                <div tuiSubtitle>
                    <tui-icon icon="@tui.library-big" />
                    Group
                </div>
                <div>
                    {{ task().group ?? 'N/A' }}
                </div>
            </div>
            <div tuiTitle>
                <div tuiSubtitle>
                    <tui-icon icon="@tui.clock" />
                    Created
                </div>
                <div>
                    {{ task().dateCreated | utcToLocal}}
                </div>
            </div>
        </div>
    </div>

    <!-- <section class="button-group">
        <button
            size="s"
            tuiButton
            type="button"
            iconEnd="@tui.plus"
        >
            Add subtask
        </button>
    </section> -->

    <section>
        <p *ngIf="!task().subtasks || !task().subtasks?.length" class="no-substasks" tuiSubtitle>No Subtasks</p>
        
        <div class="table-wrapper">
            <table
                class="styled-table"
                *ngIf="task().subtasks && task().subtasks?.length"
            >
                <thead>
                    <tr>
                        <th>Subtask</th>
                        <th >Status</th>
                        <th >Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-content *ngFor="let subtask of task().subtasks; trackBy: trackBySubtaskId">
                        <tr>
                            <td>
                                {{ subtask.name }}
                            </td>
                            <td>
                                <tui-icon *ngIf="subtask.isChecked" icon="@tui.check" class="color-success"/>
                                <tui-icon *ngIf="!subtask.isChecked" icon="@tui.x" class="color-fail"/>
                            </td>
                            <td>
                                <button
                                    tuiButton
                                    type="button"
                                    size="m"
                                    (click)="toggleCheckSubtask(subtask.id)"
                                    style="margin-right: 0.5rem;"
                                    [appearance]="subtask.isChecked ? 'secondary' : 'primary'"
                                >
                                    {{ subtask.isChecked ? 'Uncheck' : 'Check' }}
                                </button>
                                <button
                                    size="m"
                                    tuiButton
                                    type="button"
                                    appearance="primary-destructive"
                                    (click)="deleteSubtask(subtask.id)"
                                >
                                    <tui-icon icon="@tui.trash-2"/>
                                </button>
                            </td>
                        </tr>
                    </ng-content>
                    <tr>
                        <td>
                            <tui-textfield
                            >
                                <input
                                    placeholder="New Subtask"
                                    tuiTextfield
                                    [(ngModel)]="newSubtaskName"
                                    tuiTextfieldSize="s"
                                />
                            </tui-textfield>
                        </td>
                        <td></td>
                        <td>
                            <button
                                size="m"
                                tuiButton
                                type="button"
                                appearance="primary"
                                (click)="addSubtask()"
                                iconEnd="@tui.plus"
                                [disabled]="!newSubtaskName.trim()"
                            >
                                Add
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</ng-container>