

.main-card{
    min-width: 600px;
}

.my-1rem{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.mb-1rem{
    margin-bottom: 1rem;
}

.mt-1rem{
    margin-top: 1rem;
}


.long-button{
    width: 100%;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}